


input[type=text].commonPasswordInput {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}

.commonPasswordInputLabel {
    color: #454d54;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.3rem;
    display: flex;
    margin-top: 0.5rem;
}
/* .commonPasswordInputLabel span{
    color: red;
} */